body {
  color: white;
  font-family: "busseta", sans-serif;
}
.header {
  background-color: #01111a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-wrapper {
  background-color: #01111a;
  display: flex;
  align-items: center;
}
.header__logo-image {
  height: 50px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  padding: 0 5px 0 5px;
  margin: 0 18px 0 18px;
  cursor: pointer;
}
.header__button {
  display: flex;
  background-color: #22a5e5;
  padding: 10px 20px;
  align-items: center;
  gap: 9px;
  border-radius: 5px;
  border: solid 2px none;
}

.header__button:hover {
  background-color: darkblue;
  font-family: "Redwinger Personal Use", sans-serif;
}

.header__button-icon {
  fill: azure;
}
.hero {
  height: 100vh;
  background-image: url("./img/lmfoyn.jpg");
}
